<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306642979958-it0km4t2iffe556jdsjh1c8nscdv5uqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306642979958-it0km4t2iffe556jdsjh1c8nscdv5uqg</string>
	<key>API_KEY</key>
	<string>AIzaSyDC7wfJZOPxVilwfUAMagYIT2Uzd1hqLKM</string>
	<key>GCM_SENDER_ID</key>
	<string>306642979958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apple.InterfaceBuilder.IBCocoaTouchPlugin</string>
	<key>PROJECT_ID</key>
	<string>uber-8697e</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-8697e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306642979958:ios:a3c98bb922a69b58032357</string>
</dict>
</plist>